Flow 3.json
[{"id":"8e84393e.533468","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7bf968f8.947f18","type":"inject","z":"8e84393e.533468","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":140,"wires":[["77bc0a13.69b954"]]},{"id":"77bc0a13.69b954","type":"function","z":"8e84393e.533468","name":"Payload","func":"msg.headers={\n    deviceKey: \"ILvCYTwMnwGVlfYh\"\t\n    };\n\nmsg.payload = \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["e77fb598.914ac8"]]},{"id":"e77fb598.914ac8","type":"http request","z":"8e84393e.533468","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D119sQTV/datapoints.csv","tls":"","proxy":"","authType":"","x":560,"y":220,"wires":[["5b5ae0c5.3a013","b7e5d119.0a588"]]},{"id":"5b5ae0c5.3a013","type":"debug","z":"8e84393e.533468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":360,"wires":[]},{"id":"b7e5d119.0a588","type":"http response","z":"8e84393e.533468","name":"","statusCode":"","headers":{},"x":860,"y":200,"wires":[]}]