Flow 2.json
[{"id":"93d50853.018418","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"8a1b594f.be6fa8","type":"inject","z":"93d50853.018418","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["9776ae6.5d99e5"]]},{"id":"9776ae6.5d99e5","type":"function","z":"93d50853.018418","name":"Payload","func":"msg.header={\n    deviceKey:\"ILvCYTwMnwGVlfYh\"\t\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["fae1f3a3.e803a"]]},{"id":"fae1f3a3.e803a","type":"http request","z":"93d50853.018418","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D119sQTV/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":500,"y":220,"wires":[["e8d8621e.e13a3","fdd1596c.5e2028"]]},{"id":"e8d8621e.e13a3","type":"http response","z":"93d50853.018418","name":"","statusCode":"","headers":{},"x":750,"y":220,"wires":[]},{"id":"fdd1596c.5e2028","type":"debug","z":"93d50853.018418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":320,"wires":[]}]