Flow 1.json
[{"id":"610f8d7a.13c404","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"c5bb1e6b.09283","type":"inject","z":"610f8d7a.13c404","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["2889b968.2b68f6","1611fda7.0c23d2"]]},{"id":"56660a94.e89604","type":"inject","z":"610f8d7a.13c404","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["2889b968.2b68f6","1611fda7.0c23d2"]]},{"id":"2889b968.2b68f6","type":"rpi-gpio out","z":"610f8d7a.13c404","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":450,"y":240,"wires":[]},{"id":"1611fda7.0c23d2","type":"debug","z":"610f8d7a.13c404","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":80,"wires":[]}]